*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	/* outline: 1px solid red; */
	/* font-family: 'PT Sans', sans-serif; */
}

:root {
	--light-gold: hsl(47, 94%, 73%);
	--gold: hsl(44, 96%, 62%);
	--dark-gold: hsl(22, 67%, 59%);
	--dark-blue: #14213d;

	--grey: hsl(214, 9%, 15%);

	/* CSS HSL https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08*/
	--xiketic: hsla(231, 82%, 6%, 1);
	--dark-sienna: hsla(339, 80%, 12%, 1);
	--rosewood: hsla(354, 93%, 22%, 1);
	--dark-red: hsla(358, 97%, 31%, 1);
	--rosso-corsa: hsla(0, 100%, 41%, 1);
	--vermilion: hsla(12, 98%, 44%, 1);
	--persimmon: hsla(23, 97%, 46%, 1);
	--tangerine: hsla(34, 95%, 49%, 1);
	--orange-web: hsla(39, 96%, 50%, 1);
	--selective-yellow: hsla(43, 100%, 52%, 1);
}

/* 1. General layout */

html {
	height: 100%;
}

body {
	background-image: url('/img/map.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.page-content {
	width: 60%;
	margin: 0 auto;
	height: 100%;
	background-color: hsla(0, 0%, 100%, 70%);
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
}

.title-image a {
	display: block;
	background-image: url('/img/ring.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 5 / 1;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-book {
	display: flex;
	gap: 2em;
}

.input-book input {
	display: none;
}

.text-area {
	margin-top: 2em;
	position: relative;
}

.lorem-ipsum-text {
	margin: 2em;
	padding: 1em;
	border: 1px solid white;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
}

.footer * {
	padding: 0 0.25em;
}

h2 {
	margin: 1.5em 0 0.75em 0;
}

.btn-copy {
	position: absolute;
	top: 1em;
	right: 3em;
	aspect-ratio: 1 / 1;
	width: 3.5em;
	padding: 0;
	transition: all 1s;
}

/* 2. Fonts, colors etc. */

.main,
.footer {
	background-color: var(--grey);
}

h2 {
	color: var(--dark-gold);
}

.input-book label {
	display: block;
	padding: 0.5em;
	font-size: 1.25em;
	color: var(--gold);
	outline: 1px solid var(--gold);
	border-radius: 5px;
	transition: box-shadow 0.2s;
}

.input-book label:hover {
	box-shadow: 0px 0px 20px 0px var(--gold);
}

.input-book input:checked + label {
	font-weight: bold;
	outline: 5px solid var(--gold);
}

.input-book label::after {
	display: block;
	content: attr(data-text);
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.input-paragraphs input {
	transition: box-shadow 0.2s;
}

.input-paragraphs input:hover,
.input-paragraphs input:active {
	box-shadow: 0px 0px 20px 0px var(--gold);
}

button {
	background-color: var(--gold);
	padding: 1em 1.5em 1em 1.5em;
	border: 1px solid var(--gold);
	border-radius: 5px;
	transition: box-shadow 0.2s;
	font-weight: bold;
	font-size: 40px;
}

button:active {
	background-color: hsl(44, 96%, 45%);
}

.btn-generate:hover {
	box-shadow: 0px 0px 20px 0px var(--gold);
}

.btn-copy {
	opacity: 0;
	transition: opacity 0.2s;
}

.text-area:hover .btn-copy {
	opacity: 1;
}

.lorem-ipsum-text {
	color: white;
	border-radius: 5px;
}

.footer {
	color: white;
	font-weight: 300;
}

.github-icon {
	color: white;
	transition: color 0.2s;
}

.github-icon:hover {
	color: var(--gold);
}
